{% extends 'layout.html.twig' %}

{% block content %}

    <div class="section3">
        <h5 class="card-title pt-3">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">publié le    
            {{ post.getDateUpdated }}</p>
        <p class="card-text">par 
            {{ post.author }}</p>
        <h6>Commentaires</h6>
    </div>

{% endblock %}