{% extends 'layout.html.twig' %}

{% block content %}

	<section>
		<div class="container pt-5">
			<div class="row">
				<div class="col-lg-2 text-center">
					<img class="avatar" src="images/avatar_femme_voilee.jpg" alt="avatar de femme">
				</div>
				<div class="col-lg-10 text-center">
					<h1 class="titre">Saliha Ichou</h1>
					<p class="titre">Etudiante développeuse Php/Symfony chez OpenClassrooms</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section2">
		<div class="container pt-10">
			<h1>Bienvenue sur mon blog</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi magni voluptas excepturi molestias suscipit natus, explicabo voluptatum ipsa numquam reprehenderit saepe nostrum expedita quam repellat nesciunt in et nulla perspiciatis.</p>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum facilis distinctio, in, possimus hic excepturi modi, aliquid repellat numquam quam quod. Maiores blanditiis repudiandae debitis quo nesciunt impedit odit provident?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea similique natus doloremque tempora autem ipsa tenetur laborum eaque vero rem aliquid enim consectetur, eius obcaecati sequi sapiente nesciunt harum nobis.</p>
			<P>
				<a class="btn btn-danger btn-lg rounded mt-5" role="button" href="/documents/cv_developpeuse_junior_php_symfony.pdf" download>Télécharger mon CV</a>
			</P>
		</div>
	</section>

	<div class="fondpost">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 mb-5">
					<form method="post" action="#">
							<legend>Me contacter</legend>
							<div>
								<label for="emailAddress" class="form-label mt-4">Adresse email</label>
								<input name="emailAddress" type="email" class="form-control" id="emailAddress" placeholder="Votre adresse email">
							</div>
							<div class="row g-3">
								<div class="col">
									<label for="firstname" class="form-label mt-4">Prénom</label>
									<input name="firstname" type="text" class="form-control" id="firstname" placeholder="Votre prénom">
								</div>
								<div class="col">
									<label for="lastname" class="form-label mt-4">Nom</label>
									<input name="lastname" type="text" class="form-control" id="lastname" placeholder="Votre nom">
								</div>
							</div>
							<div>
								<label for="message" class="form-label mt-4">Message</label>
								<textarea name="message" class="form-control" id="message" rows="5" placeholder="Votre message"></textarea>
							</div>
							<button type="submit" class="btn btn-primary rounded mt-3">Envoyer</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}